body {
  color: white;
  background-color: #202124;
}

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color:rgb(126, 241, 178) ;
  color: #fff;
  text-shadow: none;
}
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}
hr {
  border-top: 3px dotted blue;
}
code {
  background-color: lightblue;
  color: black;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
blockquote {
  border-color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
} 

a {
  color: rgb(11, 158, 243);
  text-decoration: none;
}
a:hover {
  background-color: cyan;
  color: rgb(5, 226, 255);
}

.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: rgb(5, 226, 255);
}
.tags a:hover {
  background-color: cyan;
  color: rgb(5, 226, 255);
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}
.soc:hover {
  color:rgb(5, 226, 255);
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
@media screen and (min-width: 800px) {
  figure {
    padding: 0 40px;
  }
  .caidan{
    display: none;
  }
  .headerul ul{
    list-style-type: none;
    margin: 10px 0;
    padding: 10px 0;
    width: 800px;
    overflow: hidden;
  }
  .headerul li{
    float: left;
  }
  .headerul li a{
    text-align: center;
    display: block;
    height: 30px;
    font-size: 30px;
    padding: 10px 17px;
    text-decoration: none;
  }
  .headerul a:hover{
    background-color: transparent;
    font-size: 40px;
    color: rgb(5, 226, 255);
  }
  .headerul li:nth-child(5){
    float: right;
  }
  .cd {
    width: 250px;
    height: 444px;
    position: sticky;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 0;
    overflow: hidden;
  }
  .toc{
    width: 150px;
		border: 1px solid rgb(119, 224, 119);
		background-color: rgba(250, 225, 0, 0.5);
		position: fixed;
		top: 120px;
		right: 15%;
  }
}
@media screen and (max-width:800px) {
  .zzzz{
    position: absolute;
    display: inline-block;
    padding: 10px 4px;
    font-size: 30px;
  }
  .caidan{
    color: rgb(255, 255, 255);
  }
  .headerul ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding:15px 0;
    background-color:rgba(78, 150, 114, 0.5);
    width: 130px;
    position: fixed;
    left: 0;
    top: 57PX;
    height: 100%;
    overflow: auto;
  }
  .headerul li a{
    text-align: center;
    display: block;
    height: 40px;
    font-size: 30px;
    padding: 0 16px;
    text-decoration: none;
  }
  .headerul li a:hover{
    background-color:transparent;
    font-size: 32px;
    color: #fff;
  }
  .zzzz:hover .headerul ul{
    display: block;
  }
  .cd {
    width: 150px;
    height: 267px;
    position: sticky;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 0;
    overflow: hidden;
  }
}
.i1{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  animation: i1 10s linear infinite;
}
@keyframes i1{
  0%{
      z-index: 0;
  }
  20%{
      z-index: 0;
  }
  21%{
      z-index: -1;
  }
  100%{
      z-index: -1;
  }
}
.i2{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  animation: i2 10s linear infinite;
}
@keyframes i2{
  0%{
      z-index: -2;
  }
  19%{
      z-index: -2;
  }
  20%{
      z-index: 0;
  }
  40%{
      z-index: 0;
  }
  41%{
      z-index: -2;
  }
  100%{
      z-index: -2;
  }
}
.i3{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  animation: i3 10s linear infinite;
}
@keyframes i3{
  0%{
      z-index: -3;
  }
  39%{
      z-index: -3;
  }
  40%{
      z-index: 0;
  }
  60%{
      z-index: 0;
  }
  61%{
      z-index: -3;
  }
  100%{
      z-index: -3;
  }
}
.i4{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;
  animation: i4 10s linear infinite;
}
@keyframes i4{
  0%{
      z-index: -4;
  }
  59%{
      z-index: -4;
  }
  60%{
      z-index: 0;
  }
  80%{
      z-index: 0;
  }
  81%{
      z-index: -4;
  }
  100%{
      z-index: -4;
  }
}
.i5{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -4;
  animation: i5 10s linear infinite;
}
@keyframes i5{
  0%{
      z-index: -5;
  }
  79%{
      z-index: -5;
  }
  80%{
      z-index: 0;
  }
  100%{
      z-index: 0;
  }
}
